.task-card {
  background: white;
  border-radius: 8px;
  padding: 3px;
  margin: 10px 0;
  font-size: 14px;
  text-align: left;
  position: relative;
}

.tag {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
